<script language="javascript" type="text/javascript">
$.fn.mailTemplateLegend = function() {
    var field = this;
    var sendTestMail  = field.find(".sendTestMail");   //Ссылка отправки тестового письма
    var checkTemplate = field.find(".checkTemplate");  //Ссылка проверки шаблона
    
    var key = this.attr('data-keyValue');
    
    function doSendTestMail () {
        var testaddr = field.find('#testAddr'+key).val();
        if (!testaddr) {
            alert('Не указан адрес для письма');
            return false;
        };
        if (!confirm('Отправить тестовое письмо?')) {
            return false;
        };
        tinyMCE.get('html'+key).save();
        var o = {
            type     : "POST",
            url      : this.href,
            data     : {
                _ajax   : 1,
                formaction : 'legend_sendtestmail',
                id      : $('#id'+key).val(),
                code    : $('#code'+key).val(),
                subject : $('#subject'+key).val(),
                html    : $('#html'+key).val(),
                testaddr: testaddr
            },
            cache: false,
            dataType: 'html',
            error    : function(xhr, textStatus, errorThrown) { alert(xhr.statusText)},
            success  : function(msg) {
                alert(msg);
            }
        }; 
        $.ajax(o);
        return false;
    };
    function doCheckTemplate () {
        tinyMCE.get('html'+key).save();
        var o = {
            type     : "POST",
            url      : this.href,
            data     : {
                _ajax   : 1,
                formaction : 'legend_checktemplate',
                id      : $('#id'+key).val(),
                code    : $('#code'+key).val(),
                subject : $('#subject'+key).val(),
                html    : $('#html'+key).val()
            },
            cache: false,
            dataType: 'html',
            error    : function(xhr, textStatus, errorThrown) { alert(xhr.statusText)},
            success  : function(msg) {
                field.find('#checkTemplateResult'+key).html(msg);
            }
        }; 
        $.ajax(o);
        return false;
    };
    sendTestMail.click(doSendTestMail);
    checkTemplate.click(doCheckTemplate)
};
</script> 

<div class="mailTemplateLegend" id="field_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" data-field="<TMPL_VAR FIELD>" data-keyValue="<TMPL_VAR FORM.KEY_VALUE>">
<table border=0>
<TMPL_IF LEGEND>
<tr><td><p>Переменная</p></td><td><p>Описание</p></td><td><p>Пример</p></td></tr>
<TMPL_LOOP LEGEND>
    <tr><td>[%<TMPL_VAR VAR>%]</td><td><TMPL_VAR NAME></td><td><TMPL_VAR EXAMPLE></td></tr>
</TMPL_LOOP LEGEND>
</TMPL_IF LEGEND>

<tr><td colspan="3">
    <p>Действия</p>
    <table border=0 style="width:auto;">
    <tr>
        <td><p><a href="<TMPL_VAR FORM.URL>" class="sendTestMail">[Отправить тестовое письмо]</a></p></td>
        <td><input type="text" id="testAddr<TMPL_VAR FORM.KEY_VALUE>" name="testaddr"></td>
    </tr>
    <tr>
        <td colspan=1><p><a href="<TMPL_VAR FORM.URL>" class="checkTemplate">[Проверить шаблон]</a></p>
        <td><div id="checkTemplateResult<TMPL_VAR FORM.KEY_VALUE>"></div></td>
    </tr>
    </table>
    
</td></tr>
</table>
<script type="text/javascript">
    $( "#field_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" ).mailTemplateLegend();
</script>
