<TMPL_UNLESS IS_AJAX>  
    <div id="menu_content"> </div>
    <div id="info_content" style="padding-bottom:10px;">
    <div style="width:100%;">
</TMPL_UNLESS IS_AJAX>
            <form action="<TMPL_VAR URL>" method="post" id="poll<TMPL_VAR POLL_ID>"  <TMPL_IF IS_AJAX>target="newa_ifr<TMPL_VAR POLL_ID>"</TMPL_IF>>
            <input type="hidden" name="poll_id" value="<TMPL_VAR POLL_ID>">
            <input type="hidden" name="action" value="updateanswers">
            <input type="hidden" name="ref" value="<TMPL_VAR REF>">            
            <input type="hidden" name="_ajax" id="_ajax" value="<TMPL_VAR IS_AJAX>">
	        
			<table class="component_new_form<TMPL_IF IS_AJAX> ajax</TMPL_IF IS_AJAX>">
			<TMPL_UNLESS IS_AJAX>
			<tr>
				<td colspan="5" style="text-align: center; font-weight: bold; padding: 5px 5px 10px;"><p>Опрос: <TMPL_VAR QUESTION></p></td>
			</tr>
			</TMPL_UNLESS IS_AJAX>
			
			<TMPL_IF ANSWERS_LIST>
			<tr class="title">
				<td style="width:auto;"><p>Вариант ответа</p></td>
				<td style="width:170px;"><p>Результат опроса</p></td>
				<td style="width:75px;">&nbsp;</td>
				<td style="width:100px;" class="center"><p>По умолчанию</p></td>
				<td style="width:70px;">&nbsp;</td>
			</tr>
	        <TMPL_LOOP ANSWERS_LIST>
	        <tr class="center middle">
				<td class="input">
	        		<div id="error_name<TMPL_VAR id>" style="color:red;font-size:14px;font-weight:normal;"><TMPL_VAR error></div>	
					<input type="text" name="answer_<TMPL_VAR id>" value="<TMPL_VAR answer ESCAPE=HTML>" style="width:100%;" class="info_text">
	        	</td>
	        	<td class="input" style="margin-right:0px;padding-right:10px;">
	        		<div style="width: 100%; background: #f1f9ff;">
					<div style="width: <TMPL_VAR vote_prc>%; background: #1f6a9c;">&nbsp;</div>
					</div>
	        	</td>
				<td class="input">
					<nobr><TMPL_VAR vote_cnt> (<TMPL_VAR vote_prc>%)</nobr>
				</td>
				<td>
					<input type="<TMPL_IF multichoice>checkbox<TMPL_ELSE>radio</TMPL_IF>" name="def<TMPL_IF multichoice>_<TMPL_VAR id></TMPL_IF>" id="def_<TMPL_VAR id>" value="<TMPL_IF multichoice>1<TMPL_ELSE><TMPL_VAR id></TMPL_IF>" <TMPL_IF def>CHECKED</TMPL_IF>  />
				</td>
				<td>
					<a href="<TMPL_VAR URL>?action=deleteanswer&answer_id=<TMPL_VAR id>&poll_id=<TMPL_VAR POLL_ID>&ref=<TMPL_VAR REF ESCAPE=URI>" onclick="document.getElementById('deleteform1_<TMPL_VAR id>').style.display='';return false;" >Удалить</a>
				</td>
			</tr>
               
            <tr>
            <td colspan="5" style="padding:0px; border:none;">
			<div id="deleteform1_<TMPL_VAR id>" style="display:<TMPL_IF for_delete><TMPL_ELSE>none</TMPL_IF>;padding: 5px 0 10px 15px; border-bottom: 1px solid #8dbee4; text-align:center;">
                <p style="color:#4b7495; font-weight: bold;" id="errormsg_<TMPL_VAR KEY_VALUE>">Вы действительно хотите удалить вариант ответа?</p>
            <div style="text-align:center;padding-top:10px;">
			<form action="<TMPL_VAR URL>" method="get" <TMPL_IF IS_AJAX>target="newa_ifr<TMPL_VAR POLL_ID>"</TMPL_IF IS_AJAX>>
				<TMPL_IF IS_AJAX><input type="hidden" name="_ajax" value="1"></TMPL_IF>
				<input type="hidden" name="answer_id" value="<TMPL_VAR id>">
				<input type="hidden" name="poll_id" value="<TMPL_VAR POLL_ID>">
				<input type="hidden" name="action" value="deleteanswer">
				<input type="hidden" name="confirmation" value="1">
				<input type="hidden" name="ref" value="<TMPL_VAR REF ESCAPE=URI>">	
				<input type="image" src="/admin-side/img/buttons/delete.gif"  style="border-width: 0;" />
                <a href="<TMPL_VAR REF>" onclick="document.getElementById('deleteform1_<TMPL_VAR id>').style.display='none';return false;">
				<img src="/admin-side/img/buttons/cancel.gif" style="border-width: 0;"></a>
			</form>
            </div>
			</div>
	        </TMPL_LOOP>
			<tr>
				<td class="buttons" colspan="5">
					<input type="image" src="/admin-side/img/buttons/apply.gif">
				</td>
  			</tr>
			<TMPL_ELSE>
			<tr>
			   <td class="buttons" colspan="5"><b>Варианты ответа не занесены</b></td>
			</tr>
			</TMPL_IF>
			</form>
			
			<tr>
            <td colspan="5">
				<form action="<TMPL_VAR URL>" method="post" id="poll<TMPL_VAR POLL_ID>"  <TMPL_IF IS_AJAX>target="newa_ifr<TMPL_VAR POLL_ID>"</TMPL_IF>>
				<input type="hidden" name="poll_id" value="<TMPL_VAR POLL_ID>">
				<input type="hidden" name="action"  value="addanswer">
				<input type="hidden" name="ref" value="<TMPL_VAR REF>">
				<input type="hidden" name="_ajax" id="_ajax" value="<TMPL_VAR IS_AJAX>">
				<div id="new_answer<TMPL_VAR POLL_ID>" style="color:red;font-size:14px;font-weight:normal;"><TMPL_VAR NEW_A_ERROR></div>
                <div style="width: 100%; float: right;">
                    <div style="margin-right: 140px;">
                      <input type="text" style="width: 100%;" name="question">
                    </div>
                </div>
                <div style="float: right; margin-right: -100%;">
                  <input type="image" src="/admin-side/img/buttons/add.gif" style="float: left;">
                </div>
				</form>
			</td>
			</tr>
			
			<tr>
				<td class="buttons" colspan="5">
					<TMPL_IF IS_AJAX>
						<a href="#" onclick="clear_block('formb_<TMPL_VAR POLL_ID>');return false;">
					<TMPL_ELSE>
						<a href="<TMPL_VAR REF>">
					</TMPL_IF IS_AJAX>
						<img src="/admin-side/img/buttons/close.gif">
						</a>
				</td>
			</tr>
			</table>

	<iframe name='newa_ifr<TMPL_VAR POLL_ID>' style="display: none;"></iframe>


<TMPL_UNLESS IS_AJAX>
</div>
</div>
	<div id="middle_bottom">
			<div id="middle_bottom_left">
				<div id="middle_bottom_right"></div>
			</div>
	</div>
</TMPL_UNLESS IS_AJAX>

