<TMPL_UNLESS IS_AJAX>
<div id="menu_content" >
</div>
<div id="info_content" style="padding-top:5px;">
</TMPL_UNLESS IS_AJAX>

  
<div class="message_attention"><TMPL_VAR ERROR></div>
<script type="text/javascript">alert('<TMPL_VAR ERROR ESCAPE=JS>');</script>
</div>

<TMPL_UNLESS IS_AJAX>
<div id="middle_bottom">
    <div id="middle_bottom_left">
        <div id="middle_bottom_right"></div>
    </div>
</div>
</TMPL_UNLESS IS_AJAX>