<TMPL_UNLESS FORM.URLFA>ОШИБКА ШАБЛОНА!!!</TMPL_UNLESS>
<TMPL_IF IS_TEXT>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>   
    <div class="form-line">
	    <div class="form_contener">
	        <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF> 
		</div> 
	    <div class="input_info"> 						
	        <input class="info_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>
	    </div>
    </div>	 
</TMPL_IF IS_TEXT>
<TMPL_IF IS_INT>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>   
    <div class="form-line">
        <div class="form_contener">
            <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF> 
        </div> 
        <div class="input_info"> 
            <input class="short_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>
        </div>
    </div>
</TMPL_IF IS_INT>
<TMPL_IF IS_EMAIL>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>   
   <div class="form-line">
	   <div class="form_contener">
	        <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>      
		</div> 
	    <div class="input_info">   						
	        <input class="info_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>	
	        <div style="float:right;"><a href="mailto:<TMPL_VAR VALUE ESCAPE=HTML>"><TMPL_VAR VALUE ESCAPE=HTML></a></div>
	    </div>
    </div>
</TMPL_IF IS_EMAIL>
<TMPL_IF IS_URL>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>   
   <div class="form-line">
	   <div class="form_contener">
	        <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>	        
		</div> 
	    <div class="input_info">   						
	        <input class="info_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>
			<TMPL_IF ENABLE_BB><span class="comment">
                  <a href="#" onclick="var el = document.getElementById('<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>');if (el.value == '') {el.value=this.innerHTML;};return false;">[a href="http://site.com" title="пример"]Ссылка[/a]</a>
            </span>
            </TMPL_IF ENABLE_BB>
	        <TMPL_IF VALUE><div class="linkGo"><a href="<TMPL_VAR LINK_URL>" target="_blank" title="<TMPL_VAR LINK_PATTERN.TITLE>"><TMPL_IF LINK_PATTERN><TMPL_VAR LINK_PATTERN.NAME><TMPL_ELSE>Перейти</TMPL_IF></a></div></TMPL_IF VALUE>
	    </div>
    </div>
</TMPL_IF IS_URL>
<TMPL_IF IS_DATE>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
	<div class="form-line">
		<div class="form_contener">
	    	<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF> 
		</div>
	    <div class="input_info"> 											
	   		<input class="short_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>       			
	   	</div>	
   </div>    
</TMPL_IF IS_DATE>
<TMPL_IF IS_DATETIME>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
	<div class="form-line">
		<div class="form_contener">
	    	<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
		</div>
	    <div class="input_info"> 											
	   		<input class="short_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" style="width: 110px;" maxlength="21" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>       			
	    </div>
    </div>
</TMPL_IF IS_DATETIME>
<TMPL_IF IS_PASSWORD>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form-line">
	    <div class="form_contener">
	       <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
		</div>
	    <div class="input_info">        						
	        <input class="short_text" type="password" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>         
	    </div>	   
    </div> 
</TMPL_IF IS_PASSWORD>
<TMPL_IF IS_NUMBER>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form-line">
	    <div class="form_contener">
	  		 <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
		</div>   
	    <div class="input_info">           											
			<input class="short_text" type="text" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR VALUE ESCAPE=HTML>"<TMPL_IF READONLY> readonly</TMPL_IF>/>		
	    </div>	    
    </div>
</TMPL_IF IS_NUMBER>
<TMPL_IF IS_FILE>
 <div class="form-line">
		<table  style="width:100%;">
			<tr>
				<td style="border:none;">
				<div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
				<div class="form_contener">	
					<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
				</div>	
				<div class="input_info">
					<input class="info_file" type="file" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" />
				</div>	
				</td>
			</tr>
      <TMPL_IF DBVALUE>
			<tr>
				<td>
				<div id="linkdiv_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" style="text-align:center;margin-top:10px;">
				<a href="<TMPL_VAR UPLOADDIR><TMPL_VAR DBVALUE>">Скачать</a>
				<TMPL_UNLESS IS_NOTNULL>
				<span class="color_blue">&nbsp;|&nbsp;</span><a onclick="if (window.confirm('Вы действительно хотите удалить файл?')) {ajax_url('<TMPL_VAR FORM.URLFA>formaction=<TMPL_VAR FIELD>_deletefile&<TMPL_VAR FORM.KEY_PARAM>&_ajax=1','linkdiv_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>');};return false;" href="#">Удалить файл</a>
				</TMPL_UNLESS IS_NOTNULL>
				</div>
				</td>			
			</tr>
			</TMPL_IF DBVALUE>   
		</table>
	</div>
</TMPL_IF IS_FILE>
<TMPL_IF IS_IMAGE>
  <div class="form-line">
		<table  style="width:100%;">
			<tr>
				<td style="border:none;">
					<div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
					<div class="form_contener">	
						<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
					</div>
                    <div class="input_info">
    					<input class="info_file" type="file" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" />
    				</div>	
				</td>
            </tr>
			<TMPL_IF DBVALUE>
            <tr>
				<td>
                <div id="linkdiv_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" style="text-align:center;margin-top:10px;">
                <a href="<TMPL_VAR UPLOADDIR><TMPL_VAR DBVALUE>">Скачать</a>
                <TMPL_UNLESS IS_NOTNULL>
				<span class="color_blue">&nbsp;|&nbsp;</span><a onclick="if (window.confirm('Вы действительно хотите удалить файл?')) {ajax_url('<TMPL_VAR FORM.URLFA>formaction=<TMPL_VAR FIELD>_deletefile&<TMPL_VAR FORM.KEY_PARAM>&_ajax=1','linkdiv_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>');};return false;" href="#">Удалить файл</a>
				</TMPL_UNLESS IS_NOTNULL>
				</div>
				</td>			
			</tr>
			</TMPL_IF DBVALUE>
		</table>
	</div>
</TMPL_IF IMAGE>
<TMPL_IF IS_TEXTAREA>
<div class="form-line">
	<div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form_contener"  style="width: 100%; float: none;">
       <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
	<div class="clearAll"></div>
    <div class="input_info">
    <textarea class="info_textarea" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" style="<TMPL_IF HEIGHT>height:<TMPL_VAR HEIGHT></TMPL_IF>" ><TMPL_VAR VALUE ESCAPE=HTML></textarea>
    </div>
</div>
</TMPL_IF>
<TMPL_IF IS_SELECT>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
   <div class="form-line">
	 <div class="form_contener">
   		<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
       <div class="input_info">                   
        <div class="selectWrapper" style="margin-top:2px;">
            <TMPL_IF READONLY>
                <input type="hidden" name="<TMPL_VAR FIELD>" value="<TMPL_VAR DBVALUE>">
                <select id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" class="info_text" disabled>
            <TMPL_ELSE READONLY>
                <select name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" class="info_text">
            </TMPL_IF READONLY>
            
                  <TMPL_LOOP SELECT_OPTIONS>
                  <option value="<TMPL_VAR ID>" <TMPL_IF SELECTED>selected</TMPL_IF> <TMPL_IF DISABLED>disabled</TMPL_IF>><TMPL_VAR NAME></option>
                  </TMPL_LOOP>
                </select>
        </div>
	 </div>	  
	 </div> 
</TMPL_IF>
<TMPL_IF IS_RADIOBUTTON>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
   <div class="form-line">
	 <div class="form_contener">
   		<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
       <div class="input_info">                   
        <span id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>">
            <TMPL_LOOP SELECT_OPTIONS>
            <div>
              <input type="radio" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>_<TMPL_VAR ID>"  value="<TMPL_VAR ID>" <TMPL_IF SELECTED>checked</TMPL_IF> <TMPL_IF DISABLED>disabled</TMPL_IF>>
              <TMPL_VAR NAME>
            </div>
            </TMPL_LOOP>
		</span>
	 </div>	  
	 </div> 
</TMPL_IF IS_RADIOBUTTON>
<TMPL_IF IS_TEXTFILE>
<div class="form-line">
	<div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form_contener"  style="width: 100%;">
       <TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
    <textarea style="width:99%" class="info_textarea" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" style="<TMPL_IF HEIGHT>height:<TMPL_VAR HEIGHT></TMPL_IF>" ><TMPL_VAR VALUE ESCAPE=HTML></textarea>
</div>  
</TMPL_IF>
<TMPL_IF IS_RTF>
	<div class="form-line">
	  	<div class="form_contener">
	    	<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
		</div>    
	     <div class="input_info">
	       <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>         		
	 	</div>	    
	    <div class="wrapper_info_content rft-component">
            <div class="input_info">
			<textarea name="<TMPL_VAR FIELD>" style="width: 100%;<TMPL_IF HEIGHT>height:<TMPL_VAR HEIGHT></TMPL_IF>" class="info_text" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR VALUE escape=html></textarea>
            </div>
		    <TMPL_IF FORM.IS_AJAX>
			<IFRAME SRC='' name="retext" id='richedit<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>' onload="UseEditor('<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>','<TMPL_VAR FORM.URLFA>formaction=<TMPL_VAR FIELD>_uploadimage&<TMPL_VAR FORM.KEY_PARAM>&_ajax=1','<TMPL_VAR FORM.KEY_VALUE>',<TMPL_IF OPTIONS.CONFIG><TMPL_VAR OPTIONS.CONFIG><TMPL_ELSE OPTIONS.CONFIG>undefined</TMPL_IF OPTIONS.CONFIG>);" style='display: none; position: absolute; left: 0px; top: 0px; ' ></IFRAME>
		    <TMPL_ELSE FORM.IS_AJAX>
		        <script type="text/javascript">
		            UseEditor('<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>','<TMPL_VAR FORM.URLFA>formaction=<TMPL_VAR FIELD>_uploadimage&<TMPL_VAR FORM.KEY_PARAM>&_ajax=1','<TMPL_VAR FORM.KEY_VALUE>',<TMPL_IF OPTIONS.CONFIG><TMPL_VAR OPTIONS.CONFIG><TMPL_ELSE OPTIONS.CONFIG>undefined</TMPL_IF OPTIONS.CONFIG>);
		        </script>
		    </TMPL_IF FORM.IS_AJAX>
	    </div>
    </div>
</TMPL_IF IS_RTF>
<TMPL_IF IS_CHECKBOX>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form-line">
    <div class="form_contener">
		<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
        <div class="input_info">
            <input type="checkbox"  class="checkbox" name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR CB_VALUE>" <TMPL_IF READONLY>disabled</TMPL_IF> <TMPL_IF CHECKED>checked</TMPL_IF>/>
        </div>
     </div>
</TMPL_IF IS_CHECKBOX>
<TMPL_IF IS_MULTICHECKBOX>
    <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
    <div class="form-line">
    <div class="form_contener titleMulticheckbox">
		<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
    <TMPL_LOOP SELECT_OPTIONS>
        <div class="input_info multicheckbox">
            <input type="checkbox" class="checkbox"
                name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD>_<TMPL_VAR ID><TMPL_VAR FORM.KEY_VALUE>" value="<TMPL_VAR ID>"
                <TMPL_IF READONLY>disabled</TMPL_IF> <TMPL_IF SELECTED>checked</TMPL_IF>/>
            <TMPL_VAR NAME>
        </div>
    </TMPL_LOOP>
     </div>
</TMPL_IF IS_MULTICHECKBOX>

<TMPL_IF IS_MULTISELECT>
   <div class="errormsg" id="error_<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>"><TMPL_VAR ERRORMSG></div>
   <div class="form-line">
	 <div class="form_contener">
   		<TMPL_VAR NAME><TMPL_IF IS_NOTNULL>&nbsp;*</TMPL_IF>
	</div>
       <div class="input_info">                   
        <div class="selectWrapper">
            <TMPL_IF READONLY>
                <select id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" class="info_text" disabled multiple="multiple" size="<TMPL_VAR SIZE>">
            <TMPL_ELSE READONLY>
                <select name="<TMPL_VAR FIELD>" id="<TMPL_VAR FIELD><TMPL_VAR FORM.KEY_VALUE>" class="info_text" multiple="multiple" size="<TMPL_VAR SIZE>">
            </TMPL_IF READONLY>
            
                  <TMPL_LOOP SELECT_OPTIONS>
                  <option value="<TMPL_VAR ID>"<TMPL_IF SELECTED> selected</TMPL_IF>><TMPL_VAR NAME></option>
                  </TMPL_LOOP>
                </select>
        </div>
	 </div>	  
	 </div> 
</TMPL_IF IS_MULTISELECT>
