<script LANGUAGE="JavaScript">
 random = parseInt(Math.random()*10000);
 banner = '<iframe src=\"<TMPL_VAR WEBPATH>?pid=<TMPL_VAR ID>&r=';
 banner += random + '&s=1;\" frameborder=0 width=<TMPL_VAR SIZEX> height=<TMPL_VAR SIZEY> marginwidth=0 marginheight=0   scrolling=no>';
 banner+='</iframe>';
 document.write(banner);
</script>
<NOSCRIPT>
 <IFRAME  src="<TMPL_VAR WEBPATH>?pid=<TMPL_VAR ID>&r=1&s=1" frameborder="0" width="<TMPL_VAR SIZEX>" height="<TMPL_VAR SIZEY>" marginwidth="0" marginheight="0" scrolling="no"></IFRAME>
</NOSCRIPT>