<TMPL_VAR ANSWER_USER> <TMPL_VAR .RES.TEXT_THEME_SUBSCRIBE_SUBSCRIBED_THEME_MODERATE> - <TMPL_VAR THEME>.

<TMPL_VAR .RES.TEXT_THEME_SUBSCRIBE_THEME_URL>:
<TMPL_VAR THEME_URL>

<TMPL_VAR .RES.TEXT_THEME_SUBSCRIBE_MESSAGE_POST>.
-------------
<TMPL_VAR MESSAGE>
-------------
