<TMPL_VAR .RES.TEXT_PAGER_EMAIL_HELLO> <TMPL_VAR USER_NAME>.
<TMPL_VAR .RES.TEXT_PAGER_EMAIL_TEXT>.

_____________________________________________________________________
<TMPL_VAR .RES.TEXT_PAGER_EMAIL_FROM>: <TMPL_VAR USERNAME_WHO_SENT_PM>
<TMPL_VAR .RES.TEXT_PAGER_EMAIL_MESSAGE>:
<TMPL_VAR MESSAGE>

______________________________________________________________________
<TMPL_VAR .RES.TEXT_PAGER_EMAIL_SEE>:
<TMPL_VAR PAGER_URL>

