<TMPL_VAR .RES.EMAIL_RECOVERYPWD_HELLO> <TMPL_VAR USER_LOGIN>,

<TMPL_VAR .RES.EMAIL_RECOVERYPWD_REQUEST> <TMPL_VAR FORUM_URL> :

<TMPL_UNLESS AUTH_VIA_EMAIL><TMPL_VAR .RES.EMAIL_RECOVERYPWD_LOGIN>: <TMPL_VAR USER_LOGIN></TMPL_IF>
<TMPL_VAR .RES.EMAIL_RECOVERYPWD_PASSWORD>: <TMPL_VAR USER_PASSWORD>

<TMPL_VAR .RES.EMAIL_RECOVERYPWD_REGARDS>
