<TMPL_VAR .RES.THEMETOEMAIL_EMAIL_USERNAME>: <TMPL_VAR USERNAME> <TMPL_VAR .RES.THEMETOEMAIL_EMAIL_SEND_LINK> <TMPL_VAR THEMENAME> <TMPL_VAR .RES.THEMETOEMAIL_EMAIL_IN_FORUM> <TMPL_VAR FORUMNAME>
<TMPL_VAR THEMELINK>