<div class="forum-panel">
    <TMPL_IF FORUMOBJ.PANEL.INDEX><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.INDEX>"><TMPL_VAR .RES.FORUM_PANEL_INDEX></a></TMPL_IF>
    <TMPL_UNLESS FORUMOBJ.USER.ID>
        <TMPL_IF FORUMOBJ.PANEL.LOGIN><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.LOGIN>"><TMPL_VAR .RES.FORUM_PANEL_LOGIN></a></TMPL_IF>
        <TMPL_IF FORUMOBJ.PANEL.REG><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.REG>"><TMPL_VAR .RES.FORUM_PANEL_REG></a></TMPL_IF>
        <TMPL_IF FORUMOBJ.PANEL.RECOVERYPWD><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.RECOVERYPWD>"><TMPL_VAR .RES.FORUM_PANEL_RECOVERYPWD></a></TMPL_IF>
    </TMPL_UNLESS>
    <TMPL_IF FORUMOBJ.PANEL.SEARCH><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.SEARCH>"><TMPL_VAR .RES.FORUM_PANEL_SEARCH></a></TMPL_IF>
    <TMPL_IF FORUMOBJ.PANEL.USERSLIST><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.USERSLIST>"><TMPL_VAR .RES.FORUM_PANEL_USERSLIST></a></TMPL_IF>
    <TMPL_IF FORUMOBJ.USER.ID>
        <TMPL_IF FORUMOBJ.PANEL.LOGOUT><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.LOGOUT>"><TMPL_VAR .RES.FORUM_PANEL_LOGOUT></a></TMPL_IF>
        <TMPL_IF FORUMOBJ.PANEL.PROFILE><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.PROFILE>"><TMPL_VAR .RES.FORUM_PANEL_PROFILE></a></TMPL_IF>
    </TMPL_IF>
    <TMPL_IF FORUMOBJ.USER.IS_MODERATE>
        <a href="?action=<TMPL_VAR FORUMOBJ.PANEL.GROUPSADMIN>"><TMPL_VAR .RES.FORUM_PANEL_GROUPSADMIN></a>
    </TMPL_IF>
    <TMPL_IF FORUMOBJ.USER.IS_MODERATE>
        <a href="?action=<TMPL_VAR FORUMOBJ.PANEL.BANIP>"><TMPL_VAR .RES.FORUM_PANEL_BANIP></a>
    </TMPL_IF>
    <TMPL_IF FORUMOBJ.USER.ID>
        <TMPL_IF FORUMOBJ.PANEL.PAGER><a href="?action=<TMPL_VAR FORUMOBJ.PANEL.PAGER>"><TMPL_VAR .RES.FORUM_PANEL_PAGER><TMPL_IF .FORUMOBJ.NEW_PAGER_MESSAGE>(<TMPL_VAR .FORUMOBJ.NEW_PAGER_MESSAGE>)</TMPL_IF></a></TMPL_IF>
    </TMPL_IF>  
    <TMPL_IF .FORUMOBJ.USER.IS_MODERATE>
        <a href="<TMPL_VAR .FORUMOBJ.FORUM_URL>?action=<TMPL_VAR .FORUMOBJ.PANEL.MAILERTOGROUP>"><TMPL_VAR .RES.FORUM_PANEL_MAILERTOGROUP></a>
    </TMPL_IF>  
    <TMPL_IF .FORUMOBJ.USER.IS_SECTION_MODERATE>
        <a href="<TMPL_VAR .FORUMOBJ.FORUM_URL>?action=<TMPL_VAR .FORUMOBJ.PANEL.NEWMESSAGES>"><TMPL_VAR .RES.FORUM_PANEL_NEWMESSAGES></a>
    </TMPL_IF>
        <a href="<TMPL_VAR .FORUMOBJ.FORUM_URL>?action=<TMPL_VAR .FORUMOBJ.PANEL.ACTIVETHEMES>"><TMPL_VAR .RES.FORUM_PANEL_ACTIVETHEMES></a>
    <TMPL_IF .FORUMOBJ.USER.IS_MODERATE>
        <a href="<TMPL_VAR .FORUMOBJ.FORUM_URL>?action=<TMPL_VAR .FORUMOBJ.PANEL.ACTIVEUSERS>"><TMPL_VAR .RES.FORUM_PANEL_ACTIVEUSERS></a>
    </TMPL_IF>
</div>

<TMPL_IF .FORUMOBJ.HISTORY>
<div class="history">
    <TMPL_LOOP .FORUMOBJ.HISTORY>
        <TMPL_UNLESS __LAST__>
          <a href="<TMPL_VAR URL>"><TMPL_VAR NAME></a>
          &rarr;
        <TMPL_ELSE>
          <span href="<TMPL_VAR URL>"><TMPL_VAR NAME></span>
        </TMPL_UNLESS>
    </TMPL_LOOP>
</div>
</TMPL_IF>