<TMPL_INCLUDE "panel.tmpl">

<TMPL_IF USER_ERROR><h2><TMPL_VAR .RES.TEXT_UNSUBSCRIBE_USER_ERROR></h2></TMPL_IF>
<TMPL_IF THEME_ERROR><h2><TMPL_VAR .RES.TEXT_UNSUBSCRIBE_THEME_ERROR></h2></TMPL_IF>

<a href="<TMPL_VAR BACKURL>" class="move-back">&larr;&nbsp;<TMPL_VAR .RES.TEXT_BACK_TO_FORUM></a>