<TMPL_INCLUDE "panel.tmpl">

<h2><TMPL_VAR .RES.TEXT_UNSUBSCRIBE_THEME_SUCCESS> &laquo;<TMPL_VAR THEME.NAME>&raquo;</h2>

<a href="<TMPL_VAR BACKURL>" class="move-back">&larr;&nbsp;<TMPL_VAR .RES.TEXT_BACK_TO_FORUM></a>